body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header {
    width: 100%;
    background: #855951;
    padding: 15px 0; 
}
.titulo{
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 3;
    color: #F0E4CC;
    max-width: 90%;
}
h1{
    font-size: clamp(14rem, 5vw, 4rem);
    margin: 0;
    font-family: "Inspiration", cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 100%;
}
.wrapper {
    width: 90%;
    max-width: 1730px;
    margin: auto;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.logo {
    height: 60px; 
}

.logo img {
    height: 120%; 
    width: auto; 
}

nav {
    display: flex; 
    align-items: center;
}

nav a {
    color: #F0E4CC;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 29px; 
    font-weight: bold;
    margin-left: 10px; 
    transition: all 0.3s ease; 
}

nav a:hover {
    background: #c2b8b6;
    border-radius: 50px;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 40, 39, 0.658);
    z-index: 2;
}